.idea/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
**/.idea/
**/.venv/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.git_disabled_*
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.tmp
**/*.bak
**/Thumbs.db
**/.DS_Store

01_MI/mi_classifier_latest/datasets/
01_MI/mi_classifier_latest/runtime/
